<link rel="stylesheet" href="~/css/ExistingUsers.css" asp-append-version="true" />

<div class="main-box">
    <div class="page-heading">
        <span>Existing Users</span>
    </div>
    <table id="usersTable" class="cell-border">
        <thead>
            <tr>
                <th class="hideItem">ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Department</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>
<!-- Modal -->
<div class="modal fade custom-modal" id="deleteConfirmationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Close Complaint</h5>
                <button type="button" class="close" onclick="closemodal()" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <span>Are you sure you want to delete this user?</span>
            </div>
            <div class="modal-footer">
                <button type="button" id="confirmDeleteBtn">Yes</button>
                <button type="button" class="color-danger" onclick="closemodal()">No</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/ExistingUser.js" asp-append-version="true"></script>
